.centerPic{
    display:flex;
    align-items: center;
    justify-content: center;
}

.picContainer{
    display:flex;
    justify-content:center;
    margin: 10px;
    background-color: beige;
    border-radius: 100px;
    height: 4in;
    width: 5in;
    padding: 5px;
    margin: 5px;
    transition: border-radius 0.7s ease-in 0.25s;
    
}

.picContainer:hover {
    opacity: 50%;
    background-color: pink;
    border-radius: 100%;
    transition: opacity 0.6s ease-in 0.25ms;
    
}
.headTextEdit {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    font-weight: 200;
    color:antiquewhite
}
.background{
    background-color: rgb(235, 186, 126);
}
.linkEdit{
    display:flex;
    color:honeydew;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    justify-content:space-around;
}
.linkHover:hover{
    background-color: pink;
    border-radius: 10px;
    color: greenyellow;
}
.eduParagraphEdit{
    display: block;
    justify-content: center;
    background-color: beige;
    text-align: center;
    border: 2in, solid, black;
    padding:15px;
    margin:2px;
}
.conclusion{
    display:flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: small;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    color:rgb(black, green, blue);
    padding: 20px;
    border: 1px solid grey;
}
.profSummary{
    display:flex;
    font-size: small;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    background-color: burlywood;
    font-weight: 100;
    color: rgb(black, green, blue);
    padding: 20px;
    border: 1px solid grey;
}
.listProfEXP{
    background-attachment: fixed;
    background-image: -o-linear-gradient();
    background-color: bisque;
    margin: 10px;
    padding: 5px;
}
.orderProf{
    display:grid;
    border: 1px solid grey;
    padding: 30px;
    margin: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color:grey;
}
.reveal{
    transition: color 0.5s ease-in 0.25ms;
    transition: opacity 0.7s ease-out 0.6s;
}
.reveal:hover{
    display:flex;
    justify-content: right;
    align-items: right;
    opacity:100%;
    color: rgb(24, 11, 13);
    font-size: x-small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hide{
    display:flex;
    justify-content: right;
    align-items: center;
    opacity:0%;
    font-size: x-small;
}
.hideTwice{
    display:flex;
    justify-content:left;
    align-items: left;
    opacity:15%;
    font-size: x-small;
}
.revealTwice{
    transition: color 0.5s ease-in 0.25ms;
    transition: opacity 0.7s ease-out 0.6s;
}
.revealTwice:hover{
    display:flex;
    justify-content: right;
    align-items: right;
    opacity:100%;
    color: rgb(24, 11, 13);
    font-size: x-small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.friend{
    display:flex;
    justify-content: right;
    align-items: center;
    color:floralwhite;
    font-size: small;
    transition: color 1s ease-out 0.25ms;
    transition:opacity 1s ease-out 0.2s;
    transition:font-size 1s ease-in 0.2s;
}
.hrefEditor{
    display:flex;
    font-size: xx-small;
    justify-content: space-around;
    color: rgb(rgba(0, 0, 0, 0.164), green, blue);
    font-style:calc(2);
    opacity: 50%;
}
.top{
    display:flex;
    font-size: xx-small;
    justify-content: space-around;
    color: rgb(rgba(0, 0, 0, 0.164), green, blue);
    font-style:calc(2);
    opacity: 50%;
}
.hrefEditor:hover{
    color:rgb(95, 60, 60);
    font-size: x-large;
    font-weight:600;
}
.friendReveal{
    display: flex;
    justify-content:right;
    align-items: center;
    font-size: x-small;
    color:floralwhite;
}
.eduBackground {
    background-color: bisque;
}

.Dragon{
    display:flex;
    justify-content: space-between;
    background-color: rgb(201, 183, 162);
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color:pink;
    font-style: inherit;
    
    
}
.DragonSocial{
    display:flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    height: 30px;;
    padding: 10px;
    margin: 5px;
    border-radius: 150%;
}

.Dragon>a {
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: rgb(155, 135, 134);
    transition: color 1s ease-out 0.25ms;
    padding: 5px 20px;
}
.Dragon>a:hover{
    color:rgb(78, 69, 68)
}
.middle{
    display:flex;
    justify-content: space-evenly;
    text-align: middle;
    color: rgb(155, 135, 134);
    transition: color 1s ease-out 0.25ms;
}
.middle:hover{
    color:rgb(78, 69, 68)
}

.myFriend{
    display:flex;
    justify-content: right;
    align-items: center;
    color:floralwhite;
    font-size: small;
    transition: color 1s ease-out 0.2s;
    transition: opacity 1s ease-out 0.2ms;
}

.myFriend:hover{
    color: rgb(70, 46, 46);
    opacity: 0%;
}

